[Desktop Entry]
Name=Kohera
GenericName=Matrix Client
Comment=A Matrix chat client
Exec=kohera %u
Icon=io.github.quantumheart.kohera
Terminal=false
Type=Application
Categories=Network;InstantMessaging;Chat;
StartupWMClass=io.github.quantumheart.kohera
MimeType=x-scheme-handler/matrix;
